{% extends "base.html.twig" %}

{% block title %}
    Mes Informations
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
        <ul>
            <li>{{user.firstName}}</li>
            <li></li>
            <li></li>
        </ul>
            
            {{user.lastName}}
            {{user.email}}
            {# {{user.produit.titre}} #}
        </div>
    </div>
{% endblock %}