body {
    display: flex;
    flex-direction: column;
}

header {
    display: ;
    background-color: blanchedalmond;
    width: 160vh;
    height: 5vh;
    margin-left: 350px;
    padding-right: 0.7%;
    text-align: right;
}