body {
    display: flex;
}
.sidebar {
    background-color: beige;
    display: left;
    width: 30vh;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.container {
    flex-wrap: wrap;
}

.site-header.sticky-top.py-1.navbar {
    display: flex;
    float: right;
}