body {
    display: flex;
}
.sidebar {
    background-color: beige;
    display: left;
    width: 30vh;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.container {
    flex-wrap: wrap;
}

.navbar {
    float: right;
}

body > header {
    
}