{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <ul>
            {% for prod in  %}
                
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
