{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <ul>
            {% for prod in produit.images %}
                <li>{{prod.titre}}</li>
                {# <li>{{prod.prix|number_format(2, '.', ',')}} €</li>
                <hr> #}
                
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
